body{
    background-color: bisque;
    text-align: center;
}
strong {
    font-style: italic;
    font-size: larger;
    font-size: medium;
}
strong {
    font-size: 30px
}
nav a{
    text-transform: uppercase;
    color: violet;
    font-weight: 300;
    font-size: 70;
    text-decoration: overline;
}
.imagem3{
    width: 35%;
}
.imagem4{
    width: 35%;
}
.imagem5{
    width: 35%;
}
.imagemcentralizada{
    text-align:center
}

h1 {
    background-color: plum;
    text-align:center;
    font-style: italic;
}
.centralizada{
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  border-color: pink;
  border-width: 30px;
  border-style: double;
}
