h1 {
    background-color:yellowgreen;
    text-align:center;
}

h2 {
    background-color: greenyellow;
}
h3{
    background-color: pink;
}
p {
    text-align: center;
}

strong {
    font-size: 30px
}

body{
    background-color: bisque;
}
.brilho {
    background-color: lightblue
}

strong {
    font-size: larger;
}

body {
    background-color:lightgreen;
}
.unicornio {
    background-color:burlywood
}
