h1 {
    background-color: coral;
    text-align:center;
    font-style: italic;
}

h2 {
    background-color: rgb(209, 77, 132);
    text-align: center;
    font-style: italic;
}
h3{
    background-color: rgb(119, 241, 38);
    font-style: italic;
}
p {
    text-align: center;
    font-style: italic;
}

strong {
    font-size: 30px
}

body{
    text-align: center;
    background-color: bisque;
}
.brilho {
    font-style: italic;
    background-color: rgb(135, 236, 41)
}

strong {
    font-style: italic;
    font-size: larger;
    font-size: medium;
}

body {
    font-style: italic;
    background-color:rgb(248, 223, 177);
}
.unicornio {
    font-style: italic;
    color:burlywood
}
.imagemcentralizada{
    text-align:center
}

.lista {
    text-align: left;
    display: inline-block;
    color: orangered;
    border-color: pink;
    border-width: 20px;
    border-style: solid;
    border-radius: 12px 50px 2px 120px;
}
nav a{
    text-transform: uppercase;
    color: orangered;
    font-weight: 300;
    font-size: 100%;
    text-decoration: overline;
}
.imagem1 {
    width: 35%;
}
.imagem2 {
    width: 35%;
}
nav a:hover {
    color:greenyellow;
    text-decoration: underline;
}
footer{
    background-color:brown;
    text-decoration: double;
}
